body {
    margin: 0;
    background: black;
    overflow: hidden;
}

a {
    text-decoration: none;
}

canvas {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.content {
    display: flex;
    position: absolute;
    background-color: black;
    z-index: 5;
    overflow: scroll;
    scrollbar-width: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content h4, h5 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    width: 10vw;
}

.content div {
    color: white;
    font-size: 24px;
    float: left;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.content img {
    display: flex;
    max-width: 10vw;
    height: auto;
    float: right;
    margin: 32px;
    border-radius: 10px;
}

#gas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
}

#gas img {
    position: absolute;
    display: block;
    object-fit: fill;
    filter: saturate(100%);
}

#gas canvas {
    position: absolute;
    filter: saturate(100%);
}

#vector2 {
    mix-blend-mode: lighten;
}

#top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    align-items: center;
}

#top-bar div {
    margin: 0;
}

#top-bar a {
    text-decoration: none;
    color: white;
}

#top-bar .left-space {
    top: auto;
    display: flex;
    width: auto;
    height: auto;
    float: left;
    align-items: center;
    height: 100%;
}

#top-bar .right-space {
    top: auto;
    display: grid;
    width: auto;
    height: auto;
    float: right;
    align-items: center;
    height: 100%;
}

#top-bar .right-space h4 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    float: right;
}

#top-bar .left-space svg, h4 {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    float: left;
}

.person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.person-container h4 h5 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    overflow: scroll;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: bold;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}