body {
    margin: 0;
    background: black;
    overflow: hidden;
}

a {
    text-decoration: none;
}

canvas {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.container {
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    z-index: 0;
}

.container img {
    display: block;
    max-width: 50%;
}

.container h1, h2, h3, h4 {
    font-family: "Style Script", cursive;
    font-style: italic;
    color: white;
    text-align: center;
    margin: 0;
    z-index: 4;
}

#gas {
    z-index: -2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
}

#gas img {
    position: absolute;
    display: block;
    object-fit: fill;
    filter: saturate(100%);
}

#gas canvas {
    position: absolute;
    filter: saturate(100%);
}

#vector2 {
    mix-blend-mode: lighten;
}

#top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    align-items: center;
}

#top-bar div {
    margin: 0;
}

#top-bar .left-space {
    top: auto;
    display: flex;
    width: auto;
    height: auto;
    float: left;
    align-items: center;
    height: 100%;
}

#top-bar .right-space {
    top: auto;
    display: grid;
    width: auto;
    height: auto;
    float: right;
    align-items: center;
    height: 100%;
}

#top-bar .right-space h4 {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    float: right;
}

#top-bar .left-space svg, h4 {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    float: left;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}